Release Notes

* ${currentVersion}

  * Add support for repeated polling of request-response SIRI endpoints.
  
  * Refactor a couple of common libraries into their own modules:
  
    * onebusaway-guice-jetty-exporter
    
    * onebusaway-guice-jsr250

  * Full Documentation: {{${site_base_url}/onebusaway-siri/${currentVersion}/}}

* 1.0.3

  * Added {{{./onebusaway-siri-repeater-cli.html}SIRI repeater}} RPM and Linux service.
  
  * Added option to both the {{{./onebusaway-siri-client-cli.html}SIRI command-line client}} and
    {{{./onebusaway-siri-repeater-cli.html}SIRI repeater}} to format output XML.

  * Better SIRI channel matching for an incoming ServiceDelivery.
  
  * Better disconnect / reconnect behavior for SIRI channels.
  
  * Better fill a number of default SIRI request and response parameters.
  
  * Additional logging.
  
  * Refactor the location of a number of service classes.

  * Support for exporting generic servlets by {{{./apidocs/index.html?org/onebusaway/siri/jetty/ServletSource.html}SiriJettyServiceImpl}}
    through {{{./apidocs/index.html?org/onebusaway/siri/jetty/ServletSource.html}ServletSource}} interface.
  
  * Support for {{{./apidocs/index.html?org/onebusaway/siri/core/services/StatusService.html}StatusService}} for
    querying diagnostic information about the current SIRI process.  See {{{./apidocs/index.html?org/onebusaway/siri/jetty/StatusServletSource.html}StatusServletSource}}
    for details on how the status information can be exposed through a simple web interface.
  
  * Full Documentation: {{${site_base_url}/onebusaway-siri/1.0.3/}}

* 1.0.2

  * Better SIRI channel matching for an incoming ServiceDelivery
  
  * Full Documentation: {{${site_base_url}/onebusaway-siri/1.0.2/}}

* 1.0.1

  * Bug fix for subscription request handling when no response is heard from the server
  
  * Additional documentation

  * Full Documentation: {{${site_base_url}/onebusaway-siri/1.0.1/}}
  
* 1.0.0

  * More complete SIRI support, specifically around subscription management.
  
  * Initial release of <<<onebusaway-siri-client-cli>>> and <<<onebusaway-siri-repeater-cli>>> applications.

  * Initial Site Documentation.
  
  * Bump to require Maven 3.

  * Full Documentation: {{${site_base_url}/onebusaway-siri/1.0.0/}}

* 0.0.2

* 0.0.1

  * Initial release